.home-list {
  max-width: 600px;
  margin: 0 auto 0;
  padding: 20px;
  margin-top: 80px;
}

.home-list article {
  background: #fff;
  border: 1px solic #ddd;
  border-radius: 7px;
  padding: 28px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-list article strong {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.home-list article button {
  height: 48px;
  width: 100px;
  border: 0px;
  background: rgb(186, 189, 190);
  margin-left: 10px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
